.logWindow
{
    display:none;
    width:700px;
}

.logWindow > p
{
    padding:0px; margin:0px; word-wrap:break-word;
}
/*DF12 DEMO 3 -- SOME CSS FOR A NICE BACKGROUND GRAPHIC */
.ui-page
{
	background: transparent url(images/cloudynight.jpg) no-repeat center center;
	background-size: cover;
}